:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  background: linear-gradient(180deg, #a3cfff 0%, #ffffff 100%);  
  box-sizing: border-box;
  justify-content: center;
  margin: 0;
  padding-top: 90px; 
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border: 2px solid #b68a8f;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Navbar */
.nav-link-azul {
  color: #1565c0 !important;
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav-link-azul:hover {
  color: #0d47a1 !important; 
  transform: scale(1.05);
}

.navbar-brand:hover {
  color: #0d47a1 !important;
  font-weight: bold;
}

.navbar-nav .nav-link.active {
  color: #1565c0 !important;
  font-weight: bold;
  border-bottom: 2px solid #1565c0; 
  background-color: rgba(21, 101, 192, 0.1); 
}

.nav-item select.active {
  color: #1565c0 !important;
  font-weight: bold !important;
}

.nav-item select.active:focus {
  outline: none;
  box-shadow: none;
}

.nav-item select.active option:checked {
  background-color: rgba(21, 101, 192, 0.1);
}

.nav-item select.active option:hover {
  background-color: rgba(21, 101, 192, 0.05);
}

/* footer */
.footer-link {
  color: #1565c0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #0d47a1;
}


.mascota {
  transition: transform 0.6s ease, box-shadow 0.6s ease;

  will-change: transform;
  transform-origin: center;
}

.mascota:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}
